.login-radio .el-checkbox[data-v-740889a8] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.oferta-info[data-v-740889a8] {
  word-break: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: -0.02em;
  color: #000;
  padding: 0 35px 0 5px;
}
.oferta-info[data-v-740889a8]::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
.oferta-info[data-v-740889a8]::-webkit-scrollbar-track {
  background-color: #e7f0ff;
}
.oferta-info[data-v-740889a8]::-webkit-scrollbar-thumb {
  background-color: #0046b8;
  border-radius: 10px;
}
.oferta-info[data-v-740889a8]::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.oferta-info
  .login-radio
  .el-checkbox
  .el-checkbox__input
  .el-checkbox__inner[data-v-740889a8] {
  margin-bottom: 5px;
}
.ofertaDialog[data-v-740889a8] {
  position: relative;
  width: 95%;
  height: 596px;
}
.welcome-section {
  position: relative;
}
.welcome-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 330px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.loginDialog,
.welcome-section:before {
  background: linear-gradient(
    179.25deg,
    hsla(0, 0%, 97.3%, 0) 21.95%,
    #f8f8f8 72.4%
  );
}
.loginDialog {
  margin-top: 80px;
  position: relative;
  width: 817px;
  height: 596px;
  border-radius: 30px;
}
.dialogeLoginUserText {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000;
}
.dialogeLoginUserText,
.login-radio {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}
.login-radio {
  margin-top: 110px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.login-dialog-img img {
  width: 483px;
  height: 530px;
}
.login-dialog-img {
  margin-top: -100px;
}
.login-dialog-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  width: 238px;
  height: 50px;
  background: #222765;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
@media (max-width: 776px) {
  .loginDialog[data-v-740889a8] {
    width: unset;
  }
  .dialogeLoginUserText[data-v-740889a8] {
    word-break: normal;
    width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .welcome-section[data-v-740889a8]:before {
    content: "";
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 20px;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      179.25deg,
      hsla(0, 0%, 97.3%, 0) 21.95%,
      #f8f8f8 72.4%
    );
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }
  .select-role-dialog[data-v-740889a8] {
    position: relative;
    margin: 80px 20px auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(hsla(0, 0%, 100%, 0.5)),
        to(hsla(0, 0%, 100%, 0.5))
      ),
      url(../../static/img/login-dialog-photo.49ae74ea.png) !important;
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0.5)
      ),
      url(../../static/img/login-dialog-photo.49ae74ea.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
  }
}
