@media (max-width: 776px) {
  .return-home[data-v-74b929de] {
    margin-left: 15px;
    margin-top: 3px;
  }
  .return-home img[data-v-74b929de] {
    width: 15px;
  }
  .return-home span[data-v-74b929de] {
    color: #0046b8;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .change-role-section[data-v-74b929de] {
    height: 47px;
  }
  .select-language[data-v-74b929de] {
    margin-top: 16px;
  }
}
.el-switch__core {
  height: 32px;
  border-radius: 16px;
}
.el-switch__core:after {
  width: 26px;
  height: 26px;
  top: 2px;
  left: 2px;
}
.el-switch__label * {
  font-size: 20px;
  line-height: 22px;
}
.return-home {
  margin-top: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.return-home:hover {
  text-decoration: underline;
}
.return-home span {
  color: #0046b8;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.el-switch__label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #8d90ae;
}
.el-switch__label.is-active {
  color: #222765;
}
.el-switch.is-checked .el-switch__core:after {
  margin-left: -28px;
}
.local-dialog-box .local-dialog-title {
  color: var(--icon-color, #0046b8);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.local-dialog-box .local-dialog-info {
  word-break: normal;
  word-wrap: break-word;
  white-space: normal;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150.9%;
}
.local-dialog-box .local-dialog-success-botton {
  margin: -15px 15px 0;
}
.local-dialog-box .local-dialog-success-botton button {
  padding: 12px 48px;
  border-radius: 12px;
  background: var(--icon-color, #0046b8);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.local-dialog-box .local-dialog-cancel-botton button {
  margin: -15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  padding: 12px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: -44px;
  border-radius: 12px;
  background: var(--icon-color, #ffab3a);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.notification-text[data-v-484c3ee8] {
  width: 90%;
  line-height: 18px;
  padding: 5px 0 !important;
}
.notification-close-icon[data-v-484c3ee8] {
  width: 5%;
}
.notification-menu[data-v-484c3ee8] {
  width: 340px !important;
}
@media (max-width: 776px) {
  .swipe-area[data-v-3695e236] {
    background-position-y: center !important;
    background-position-x: right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-color: unset;
  }
}
.swipe-area[data-v-3695e236] {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-position-y: center !important;
  background-position-x: right !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-image: none;
}
.aside_wrapper[data-v-3695e236] {
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#269),
    to(#222765)
  );
  background: linear-gradient(180deg, #269, #222765);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.aside_wrapper .aside_top[data-v-3695e236] {
  padding: 16px 25px;
}
.aside_wrapper .aside_top .top-bar[data-v-3695e236] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}
.aside_wrapper .aside_top .top-bar .notification-icon[data-v-3695e236] {
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.aside_wrapper .aside_top .top-bar .notification-icon[data-v-3695e236]:hover {
  background: hsla(0, 0%, 100%, 0.1);
}
.aside_wrapper .aside_top .user[data-v-3695e236] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.aside_wrapper .aside_top .user .user_pic[data-v-3695e236] {
  margin: 0 auto 8px;
  position: relative;
}
.aside_wrapper .aside_top .user .user_pic .bg[data-v-3695e236] {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.aside_wrapper .aside_top .user .user_pic .main-pic[data-v-3695e236] {
  width: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  height: 80px;
  border-radius: 40px;
}
.aside_wrapper .aside_top .user .user_name[data-v-3695e236] {
  margin-bottom: 10px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.aside_wrapper .aside_top .user .user_age[data-v-3695e236] {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: hsla(0, 0%, 100%, 0.7);
}
.aside_wrapper .links[data-v-3695e236] {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-top-right-radius: 120px;
  padding: 5.5vh 35px 3.5vh;
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-box-flex: 1;
  -ms-flex: 1 0 60%;
  flex: 1 0 60%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.aside_wrapper .links ul[data-v-3695e236] {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 80%;
  flex: 1 0 80%;
}
.aside_wrapper .links ul li[data-v-3695e236] {
  margin-bottom: 15px;
}
.aside_wrapper .links ul li[data-v-3695e236]:last-child {
  margin-bottom: 0;
}
.aside_wrapper .links ul li a[data-v-3695e236] {
  display: block;
  padding: 1.8vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.9vh;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aside_wrapper .links ul li a[data-v-3695e236]:hover {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 11px;
  text-decoration: none;
}
.aside_wrapper .links ul li a.active[data-v-3695e236] {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 11px;
}
.aside_wrapper .links .logout[data-v-3695e236] {
  cursor: pointer;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.aside_wrapper .links .logout[data-v-3695e236]:hover {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 11px;
  text-decoration: none;
}
.aside_wrapper .links .logout img[data-v-3695e236] {
  margin-right: 12px;
}
.aside_wrapper .links .logout span[data-v-3695e236] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}
.navigation ul li.hovered a[data-v-3695e236] {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 11px;
  text-decoration: none;
}
.swipe-area[data-v-3695e236] {
  position: absolute;
  width: 20px;
  right: 0;
  top: 0;
  height: 100%;
  background-color: unset;
  z-index: 0;
}
.chat-badge[data-v-3695e236] {
  float: right;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
